
<section id="bag-view">
    <div class="bag-view-wrapper">
        {{#each bags}}
        {{> bag this}}
        {{/each}}
    </div>
</section>



{{!-- DIM when 'ADD' button is clicked --}}
{{!-- <div class="add-x-view"></div> --}}

{{!-- BOT SECTION: Add button hovered --}}
{{!-- <section id="bot-sec">

    <div class="extra-option" id="add-x-view-hide">
    <div class="butt-name">
        <div class="option-name">Add to Bag</div>
        <div class="option-name">Add to Bag</div>
        <div class="option-name">Add to Bag</div>
        <div class="option-name">Add to Bag</div>
    </div>
    <div class="butt-list">
        <div class="bot-sec-item"><svg xmlns="http://www.w3.org/2000/svg" class="option-butt" viewBox="0 -960 960 960"><path d="M120-80q-33 0-56.5-23.5T40-160v-440h80v440h680v80H120Zm160-160q-33 0-56.5-23.5T200-320v-440h200v-80q0-33 23.5-56.5T480-920h160q33 0 56.5 23.5T720-840v80h200v440q0 33-23.5 56.5T840-240H280Zm200-520h160v-80H480v80Z"/></svg></div>
        <div class="bot-sec-item"><svg xmlns="http://www.w3.org/2000/svg" class="option-butt" viewBox="0 -960 960 960"><path d="M440-720h80v-80h-80v80Zm40 240q-76 0-145-31.5T200-582v-58q0-33 23.5-56.5T280-720h80v-120q0-17 11.5-28.5T400-880h160q17 0 28.5 11.5T600-840v120h80q33 0 56.5 23.5T760-640v58q-66 39-135 70.5T480-480ZM280-80v-40q-33 0-56.5-23.5T200-200v-292q56 34 115.5 58T440-402v42h80v-42q65-8 124.5-32T760-492v292q0 33-23.5 56.5T680-120v40h-80v-40H360v40h-80Z"/></svg></div>
        <div class="bot-sec-item"></div>
    </div>
    </div>

    <div class="extra-option">
    <div class="butt-name"></div>
    <div class="butt-list">
        <div class="bot-sec-item"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="option-butt"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></div>
    </div>
    </div>
</section> --}}




{{!-- 
<div class="upper">
    <div class="back"><i class="fa-solid fa-arrow-left fa-xl"></i></div>
    <div class="info">
        <div class ="upper-space"></div>
        <div  class ="lower-space">
            <div class="bag-info-container">
                <div class="bag-info">
                    <h1 class="bag-name bag-info-spacing">Travel</h1>
                    <p class="bag-weight bag-info-spacing">Max: 7kg</p>
                    <div class="bag-sched bag-info-spacing">
                        <div class="bag-day">M</div>
                        <div class="bag-day">T</div>
                        <div class="bag-day">W</div>
                        <div class="bag-day">T</div>
                        <div class="bag-day">F</div>
                        <div class="bag-day">S</div>
                        <div class="bag-day">S</div>
                    </div>
                    <div class="bag-shared .bag-sched">
                        <div class="bag-day">P</div>
                    </div>
                </div>
            </div>
            <div class="bag-icon-container">
                <div class="bag-icon"><img src="image 56.png" alt="bag logo"></div>
                <div class="bag-shadow"></div>
            </div>
        </div>
    </div>
    <div class="edit"></div>
</div>
<div class="lower">
    
</div> --}} 


