
<section id="inside-bag">
    <div class="upper">
        <div class="back"><i class="fa-solid fa-arrow-left fa-xl"  style="color: white;"></i></div>
        <div class="info">
            <div class ="upper-space"></div>
            <div  class ="lower-space">
                <div class="emptyy"></div>
                <div class="bag-info-container">
                    <div class="bag-info">
                        <h1 class="inside-bag-name">Travel</h1>
                        <div class="bag-info-inner">
                            <div class="inside-bag-weight">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M150.769-150.769q3.077-76.385 24.884-134.116 21.808-57.73 57.808-99.346 36-41.615 83.77-67.038Q365-476.693 420-487.693v-119.23q-131.616-14.693-195.423-71.808-63.808-57.115-72.27-130.5h655.386q-9.231 73.385-72.654 130.5Q671.616-621.616 540-606.923v119.23q55 11 102.769 36.424 47.77 25.423 83.77 67.038 36 41.616 57.808 99.346 21.807 57.731 24.884 134.116H620v-40h148.077q-20.308-139.692-103.5-200.769Q581.385-452.615 480-452.615t-184.577 61.077q-83.192 61.077-103.5 200.769H340v40H150.769ZM480-644.231q126.384 0 189.307-41.423 62.924-41.423 80.308-83.577h-539.23q16.615 42.154 79.923 83.577Q353.616-644.231 480-644.231Zm0 493.462q-25.308 0-42.654-17.346Q420-185.461 420-210.769q0-12.385 4.577-22.923 4.577-10.539 13.269-18.462 16.308-16.307 66-39.73 49.693-23.424 100-42.731-19.538 47.231-42.846 98.461-23.308 51.231-39.615 67.539-7.923 8.692-18.462 13.269-10.538 4.577-22.923 4.577Zm0-493.462Z"/></svg>
                                <p>Max: 7kg</p>
                            </div>
                            {{!-- <div class="inside-bag-sched bag-info-spacing">
                                <div class="bag-day">M</div>
                                <div class="bag-day">T</div>
                                <div class="bag-day">W</div>
                                <div class="bag-day">T</div>
                                <div class="ba6g-day">F</div>
                                <div class="bag-day">S</div>
                                <div class="bag-day">S</div>
                            </div> --}}
                            <div class="inside-bag-sched1">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M600-240q-33 0-56.5-23.5T520-320q0-33 23.5-56.5T600-400q33 0 56.5 23.5T680-320q0 33-23.5 56.5T600-240ZM232-132q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h80v-92h32v92h276v-92h28v92h80q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q12 0 22-10t10-22v-336H200v336q0 12 10 22t22 10Zm-32-396h560v-132q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v132Zm0 0v-164 164Z"/></svg>
                                <p>Feb 10, 2024</p>
                            </div>
                        
                            <div class="inside-bag-desc">travel, school, jewelries, etc..</div>

                            <div class="inside-bag-shared">
                                <div class="inside-bag-round center">
                                    <img src="/static/images/boy.png" alt="">
                                </div>
                                <div class="inside-bag-round center">
                                    <img src="/static/images/boy.png" alt="">
                                </div>
                                <div id="shared-more" class="inside-bag-round center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M71.925-187.694v-88.922q0-30.923 15.962-55.191 15.961-24.269 42.632-37.764 57.021-27.89 114.674-43.005 57.654-15.115 126.731-15.115t126.73 15.115q57.654 15.115 114.675 43.005 26.671 13.495 42.632 37.764 15.961 24.268 15.961 55.191v88.922H71.925Zm679.997 0v-93.845q0-39.384-19.286-75.069-19.287-35.685-54.712-61.237 40.23 6 76.383 18.577 36.153 12.577 68.999 29.73 31 16.538 47.884 38.984 16.885 22.447 16.885 49.015v93.845H751.922ZM371.924-492.309q-57.749 0-98.874-41.124-41.125-41.125-41.125-98.874 0-57.75 41.125-98.874 41.125-41.125 98.874-41.125 57.749 0 98.874 41.125 41.124 41.124 41.124 98.874 0 57.749-41.124 98.874-41.125 41.124-98.874 41.124Zm345.381-139.998q0 57.749-41.125 98.874-41.125 41.124-98.874 41.124-6.769 0-17.23-1.538t-17.23-3.384q23.662-28.447 36.369-63.117t12.707-72.007q0-37.336-12.961-71.721Q566-738.46 542.846-767.383q8.615-3.077 17.23-4t17.23-.923q57.749 0 98.874 41.125 41.125 41.124 41.125 98.874ZM131.924-247.693h480v-28.923q0-12.538-6.269-22.308-6.27-9.769-19.885-17.077-49.385-25.461-101.692-38.577-52.308-13.115-112.154-13.115T259.77-354.578q-52.307 13.116-101.692 38.577-13.615 7.308-19.885 17.077-6.269 9.77-6.269 22.308v28.923Zm240-304.614q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0 304.614Zm0-384.614Z"/></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bag-icon-container">
                    <div class="inside-bag-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="black"><path d="M313.333-213.333h333.334v-66.666H313.333v66.666ZM266.666-80q-27 0-46.833-19.833T200-146.666v-340.001q0-87 47.5-156.333Q295-712.334 370-744.667v-22q0-46 32-79.666Q434-880 480-880t78 33.667q32 33.666 32 79.666v22Q665-712.334 712.5-643 760-573.667 760-486.667v340.001q0 27-19.833 46.833T693.334-80H266.666Zm170.001-684q6.999-1.334 20.333-2 13.333-.667 23-.667t23 .667q13.334.666 20.333 2v-2.667q0-19-12.166-32.833Q499-813.334 480-813.334T448.833-799.5q-12.166 13.833-12.166 32.833V-764ZM406-386.667l74-56 74 56-28-91 74-53h-91l-29-96-29 96h-91l74 53-28 91Z"/></svg></div>
                    <div class="bag-shadow"></div>
                </div>
                <div class="emptyy"></div>
            </div>
        </div>
        <div class="edit">
            <div class="inside-bag-edit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m387.694-100.001-15.231-121.846q-16.077-5.385-32.962-15.077-16.885-9.693-30.193-20.77l-112.846 47.692L104.156-370l97.615-73.769q-1.385-8.923-1.962-17.923-.577-9-.577-17.923 0-8.539.577-17.347.577-8.808 1.962-19.269L104.156-590l92.306-159.229 112.461 47.308q14.462-11.462 30.885-20.962 16.424-9.501 32.27-15.27l15.616-121.846h184.612l15.231 122.231q18 6.538 32.578 15.269 14.577 8.731 29.423 20.578l114-47.308L855.844-590l-99.153 74.922q2.154 9.693 2.346 18.116.192 8.423.192 16.962 0 8.154-.384 16.577-.385 8.423-2.77 19.27L854.46-370l-92.307 159.998-112.615-48.077q-14.846 11.847-30.308 20.962-15.462 9.116-31.693 14.885l-15.231 122.231H387.694ZM440-160h78.615L533-267.154q30.615-8 55.961-22.731 25.346-14.73 48.885-37.884L737.231-286l39.384-68-86.769-65.385q5-15.538 6.808-30.461 1.807-14.923 1.807-30.154 0-15.615-1.807-30.154-1.808-14.538-6.808-29.692L777.385-606 738-674l-100.539 42.385q-20.076-21.462-48.115-37.923-28.039-16.462-56.731-23.308L520-800h-79.385l-13.23 106.769q-30.616 7.231-56.539 22.154-25.923 14.923-49.461 38.462L222-674l-39.385 68L269-541.615q-5 14.23-7 29.615-2 15.385-2 32.385Q260-464 262-449q2 15 6.615 29.615l-86 65.385L222-286l99-42q22.769 23.385 48.692 38.308 25.923 14.923 57.308 22.923L440-160Zm40.461-200.001q49.923 0 84.961-35.038Q600.46-430.078 600.46-480t-35.038-84.961q-35.038-35.038-84.961-35.038-50.537 0-85.268 35.038-34.73 35.039-34.73 84.961t34.73 84.961q34.731 35.038 85.268 35.038ZM480-480Z"/></svg></div>
        </div>
    </div>
    <div class="lower">
    
</section>