<section id="form-page">
    <div class="login-logo app-logo-placeholder">
        <h1>BagBuddy</h1>
    </div>

    <div class="login form-placeholder">
        <div class="form-header">
            <h1>Login</h1>
            <h2>Welcome back!</h2>
        </div>

        <form class="login-form">
            <p>
                <input type="email" id="login-email" name="login_email" placeholder="email" required>
            </p>
            <p>
                <input type="password" id="login-password" name="login_password" class="form-control" placeholder="password" required>
            </p>
            <p class="submit-btn">
                <input type="submit" value="LOGIN">
            </p>
        </form>

        {{!-- Create account link --}}
        <div class="signup-link">
            <a href="/signup">Create an account</a>
        </div>
    </div>
</section>