<section id="notification-view">
    <div class="notification-top">
        <div class="bck-notif center"><a href="#"><i class="fa-solid fa-arrow-left fa-xl" style="color: white;"></i></a></div>
        <div class="notif-title">Notifications</div>
        <div class="notif-filler"></div>
    </div>
    <div class="notif-dump-wrapper">
        {{#each notifs}}
            {{> notif this}}
        {{/each}}
    </div>
</section>