<section id="onboarding_page">
    <div class="onboarding-content">
        {{!-- App Name --}}
        <div class="app-logo-placeholder">
            <div id="welcome-message-placeholder">
                <h1 id="welcome_message">Welcome to</h1>
            </div>
            
            <div id="name-tagline-placeholder">
                <h1 id="app_name">BagBuddy</h1>
                <h2 id="app_tagline">ha</h2>
            </div>
            
        </div>

        {{!-- Progress Bar --}}
        <div class="progress-bar-placeholder">
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        {{!-- GIF Placeholder --}}
        <div class="gif-placeholder">
            This is GIF Placeholder
        </div>
    </div>
    
    <div class="onboarding-footer">
        <a class="register-link">Create an account</a>
        <a class="login-link">Login</a>
    </div>

</section>