<section id="form-page">
    <div class="signup-logo app-logo-placeholder">
        <h1>BagBuddy</h1>
    </div>

    <div class="signup form-placeholder">
        <div class="form-header">
            <h1>Create an account</h1>
            <h2>Start packing your journey</h2>
        </div>

        <form class="signup-form">
            <p>
                <input type="text" id="signup-name" name="signup_name" placeholder="name" required>
            </p>
            <p>
                <input type="email" id="signup-email" name="signup_email" placeholder="email" required>
            </p>
            <p>
                <input type="password" id="signup-password" name="signup_password" class="form-control" placeholder="password" required>
            </p>
            <p class="submit-btn">
                <input type="submit" value="SIGN UP">
            </p>
        </form>

        {{!-- Create account link --}}
        <div class="login-link">I already have an account</div>
    </div>
</section>