:root {
    --mainfont: "Karla", sans-serif;
    --white-bg: #FFFFFF;
    --main-blue: #048895;
    --light-blue: #87C1C2;
    --light-peach: #FBEAE2;
    --main-orange: #EC7324;
    --main-red: #A43627;
    --black: #000000;
    --grey: #858585;
    --blue-green: #1C445B;
}

* {
    box-sizing: border-box;
}

#onboarding_page {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--main-blue);
}

.onboarding-content {
    height: 90%;
    width: 100%;
    border-radius: 0rem 0rem 2rem 2rem;
    background-color: var(--white-bg);
}

.app-logo-placeholder {
    height: 45%;
    text-align: center;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.app-logo-placeholder h1 {
    font-family: var(--mainfont);
    font-style: italic;
}

#welcome-message-placeholder {
    color: var(--main-orange);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Media query for smaller screens */
@media (max-width:  768px) {
    #welcome-message-placeholder {
        height: auto; /* Let the div take the natural height of its content */
    }
}

#name-tagline-placeholder {
    height: 20%;
}

#app_name {
    color: var(--main-blue);
    display: block;
}

#app_tagline {
    display: none;
    color: var(--main-blue);
    font-family: var(--mainfont);
    font-size: 1.2rem;
    font-weight: 400;
}

.progress-bar-placeholder {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar-placeholder ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.progress-bar-placeholder li {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--light-peach);
    margin: 0rem 0.5rem 0.2rem 0.2rem;
}

/* Active progress bar */
.progress-bar-placeholder li.active {
    background-color: var(--main-red);
}

.gif-placeholder {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    background-color: var(--light-peach);
    width: 15rem;
    height: 15rem;
}

.onboarding-footer {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.onboarding-footer a {
    color: var(--white-bg);
    text-decoration: none;
}